* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

article {
  padding: 10px 20px 10px 20px;

  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

canvas {
  height: 500px;
  width: 500px;
}

article * {
  margin: 10px;
}